body {
  background-color: var(--zmp-background-color);
  user-select: none;
}

.zaui-routes {
  height: 100%;
}

.zaui-page {
  min-height: unset;
}

.zaui-header {
  position: sticky;
  height: auto;
  margin-bottom: 0;
  flex: none;

  &::after {
    display: none;
  }
}

.zaui-input-affix-wrapper {
  margin: 0;
}

.border-inset {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.zaui-text-xxxxSmall {
  line-height: 16px;
}

.zaui-btn-tertiary,
.zaui-btn-tertiary.zaui-btn-highlight,
.zaui-bottom-navigation-item-active {
  color: var(--zmp-primary-color);
}

.zaui-btn-primary,
.zaui-btn-primary.zaui-btn-highlight,
.zaui-radio-checked .zaui-radio-checkmark,
.zaui-btn-primary:active,
.zaui-btn-primary.zaui-btn-highlight:active,
.zaui-btn-primary:focus-visible,
.zaui-btn-primary.zaui-btn-highlight:focus-visible {
  background-color: var(--zmp-primary-color);
}

.zaui-btn-primary:active,
.zaui-btn-primary.zaui-btn-highlight:active,
.zaui-btn-primary:focus-visible,
.zaui-btn-primary.zaui-btn-highlight:focus-visible {
  opacity: 0.9;
}

.zaui-picker-item-selected {
  color: var(--zmp-primary-color);
}

.zaui-input-affix-wrapper-focused,
.zaui-input-affix-wrapper:hover,
.zaui-input-affix-wrapper:focus,
.zaui-input-affix-wrapper:focus-visible {
  border-color: var(--zmp-primary-color);
}

.zaui-tabs-tabbar-active-line {
  background-color: var(--zmp-primary-color);
}

.category-tabs {
  display: flex;
  flex-direction: column;
  flex: 1;

  .zaui-tabs-tabbar {
    flex: none;
  }
  .zaui-tab-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }
  .zaui-tab {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.swiper-pagination.swiper-pagination-horizontal {
  display: flex;
  gap: 4px;
  background: rgba(0, 0, 0, 0.2);
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  padding: 4px;
  bottom: 12px;

  > .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    margin: 0;
    background: rgba(255, 255, 255, 0.6);

    &.swiper-pagination-bullet-active {
      background: #ffffff;
      transform: scale(1.5);
    }
  }
}
.icon-color {
  color: #14d9c5;
}
.custom-header {
  width: 200px; /* Set the desired width here */
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: 90px;
  border: solid 6px #14d9c5;
}
.user-details {
  margin-top: 80px;
}
.user-detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.label {
  background-color: #cccccc;
  padding: 10px;
  width: 120px;
}

.input-field {
  flex-grow: 1;
  border: 1px solid #14d9c5;
  padding: 10px;
  background-color: white;
  width: 30%;
}
.address-popup {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 1000;
  margin-top: 100px;
  width: 90%;
}

.address-popup input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.address-popup button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.address-popup button:first-of-type {
  background-color: #14d9c5;
  color: white;
  margin-bottom: 2px;
}

.address-popup button:last-of-type {
  background-color: #14d9c5;
  color: white;
  border-radius: 20px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}
.bold-and-large {
  // @extend .text-white;
  display: block;
  font-weight: bold;
  font-size: 1.5em;
}
